<%- include("partials/header.ejs") %>
<link rel="stylesheet" type="text/css" href="hello.css">	

	<p>
		<h1>This is an Image Gallery of some free photos.</h1>
		<br>
		<p>This is my first website.</p>
		<p>Please fill up the feedback form if you liked the website by clicking the button below.</p>

		<a class="btn btn-warning" href="https://forms.gle/GDLZJCi6RtoNqqgDA">Click here to send your feedback to me.</a>
		<h4>
			Thank you for visiting  <i class="fas fa-smile showing myicon"></i> !
		</h4>
	</p>
